/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
_ide_helper.php
dcat_admin_ide_helper.php
test/
dcat-admin-extensions
resources/lang/vendor
resources/lang/
resources/views
composer.lock
tests
app/Console/Commands/NotifyCommand.php.bak
t2.php
t2.sql

